<div class="container">
	<div class="row">
		<div class="col-md-7 mrgnbtm">
			<h2>Scheda dettaglio {{wineryDetails.name}}</h2>
		</div>
		<div class="col-md-4 mrgnbtm">
			<div class="btn">
				<button class="btn btn-warning" (click)="refresh()">Aggiorna</button>
			</div>

		</div>
	</div>
</div>
<div class="mrgnbtm">
	<div class="container">
	  <div *ngIf="wineryDetails">
		<h2>{{ wineryDetails.name }} {{ wineryDetails.denomination }}</h2>
		<div class="row">
		  
		  <!-- Colonna per i dettagli -->
		  <div class="col-md-8">
			<p><strong>Azienda:</strong> {{ wineryDetails.name }}</p>
			
			<p><strong>Nazione:</strong> {{ wineryDetails.country }}</p>
			<p><strong>Regione:</strong> {{ wineryDetails.region }}</p>
			<p><strong>Città:</strong> {{ wineryDetails.city }}</p>
			<p><strong>Paese:</strong> {{ wineryDetails.village }}</p>
			<p><strong>Distretto:</strong> {{ wineryDetails.district }}</p>
		  </div>
		</div>
	  </div>
	</div>
  </div>
  