<!-- app.component.html -->
<form [formGroup]="tastingSheetForm" (ngSubmit)="submitForm()" class="container py-responsive">
	<div class="row">
		<div ngbAccordion>
			<div ngbAccordionItem [collapsed]="false">
				<h2 ngbAccordionHeader>
					<button ngbAccordionButton>Informazioni sul vino</button>
				</h2>
				<div ngbAccordionCollapse>
					<div ngbAccordionBody>
						<ng-template>
							<div class="row">
								<div class="col-12 col-md-6 col-xl-3">
									<input type="hidden" formControlName="id">
									<input type="hidden" formControlName="user">
									<label for="nomeVino">Nome del vino*</label> <input type="text"
										class="form-control" formControlName="name" placeholder="Nome vino"
										id="nomeVino" name="nomeVino" [ngbTypeahead]="searchWines" [resultFormatter]="formatter" (selectItem)="filterSelectWines($event)">
								</div>

								<div class="col-12 col-md-6 col-xl-3">
									<label for="azienda">Azienda*</label> <input type="text"
										class="form-control" formControlName="winery" placeholder="Azienda"
										id="azienda" name="azienda" [ngbTypeahead]="searchWineries" [resultFormatter]="formatter" (selectItem)="filterSelectWineries($event)">
								</div>

								<div class="col-12 col-md-6 col-xl-3">
									<label for="tipologia">Tipologia*</label>
										<select (change)="changeWineType($event)"
											class="form-control" formControlName="wineType"
											id="tipologia" name="tipologia">
											<option value="Vino bianco">Vino bianco</option>
											<option value="Vino rosso">Vino rosso</option>
											<option value="Vino rosato">Vino rosato</option>
											<option value="Vino liquoroso">Vino liquoroso</option>
											<option value="Prosecco">Prosecco</option>
											<option value="Spumante">Spumante</option>
											<option value="Champagne">Champagne</option>
										</select>
								</div>

								<div class="col-12 col-md-6 col-xl-3">
									<label for="tipologia">Annata*</label> <input type="text"
										class="form-control" formControlName="vintage" placeholder="Annata"
										id="annata" name="annata">
								</div>

								<div class="col-12 col-md-6 col-xl-3">
									<label for="uve">Uve</label> <input type="text" class="form-control"
										formControlName="grapeVariety" placeholder="Uve" id="uve" name="uve" [ngbTypeahead]="searchGrapes" [resultFormatter]="formatter" (selectItem)="filterSelectGrapes($event)">
								</div>

								<div class="col-12 col-md-6 col-xl-3">
									<label for="gradazione">Gradazione</label> <input type="text"
										class="form-control" formControlName="alcoholContent"
										placeholder="Gradazione" id="gradazione" name="gradazione">
								</div>

								<div class="col-12 col-md-6 col-xl-3">
									<label for="temperatura">Temperatura</label> <input type="text"
										class="form-control" formControlName="servingTemperature"
										placeholder="Temperatura" id="temperatura" name="temperatura">
								</div>

								<div class="col-12 col-md-6 col-xl-3">
									<label for="prezzo">Prezzo</label> <input type="text"
										class="form-control" formControlName="price" placeholder="Prezzo"
										id="prezzo" name="prezzo">
								</div>

								<div class="col-12 col-md-6 col-xl-3">
									<label for="punteggio">Punteggio</label> <input type="number"
										class="form-control" formControlName="score" placeholder="Punteggio"
										id="punteggio" name="punteggio" [ngClass]="getScoreClass(score)"
										(input)="updateScore($event)">
								</div>
							</div>
						</ng-template>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div ngbAccordion>
		<div ngbAccordionItem [collapsed]="false">
			<h2 ngbAccordionHeader>
				<button ngbAccordionButton>Analisi visiva</button>
			</h2>
			<div ngbAccordionCollapse>
				<div ngbAccordionBody>
					<ng-template>
						<div class="row">
							<div class="col-12 col-md-6 col-xl-3">
								<label for="colore">Colore*</label> <select class="form-control"
									formControlName="color" id="colore" name="colore" (change)="changeColor($event); updateWinePoint($event)">
									<option *ngFor="let opt of activeSchema.options.color" [value]="opt.value">{{ opt.label }}</option>
								</select>
							</div>

							<div class="col-12 col-md-6 col-xl-3" *ngIf="isRedWine && activeSchema.showFields.hasChromaticDensity">
								<label for="densitaCromatica">Densità cromatica</label> <select
									class="form-control" formControlName="colorDensity"
									id="densitaCromatica" name="densitaCromatica">
									<option *ngFor="let opt of activeSchema.options.chromaticDensity" [value]="opt.value">{{ opt.label }}</option>
								</select>
							</div>

							<div class="col-12 col-md-6 col-xl-3">
								<label for="limpidezza">Limpidezza</label> <select
									class="form-control" formControlName="limpidity" id="limpidezza"
									name="limpidezza" (change)="updateWinePoint($event)">
									<option *ngFor="let opt of activeSchema.options.clarity" [value]="opt.value">{{ opt.label }}</option>
								</select>
							</div>

							<div class="col-12 col-md-6 col-xl-3">
								<label for="consistenza">Consistenza</label> <select
									class="form-control" formControlName="consistency" id="consistenza"
									name="consistenza">
									<option *ngFor="let opt of activeSchema.options.consistency" [value]="opt.value">{{ opt.label }}</option>
								</select>
							</div>
							<div class="col-12 col-md-6 col-xl-3" *ngIf="isEffervescentWine">
								<label for="granaBollicine">Grana della bollicine</label> <select
									class="form-control" formControlName="effervescenceBubbleGrain"
									id="granaBollicine" name="granaBollicine">
									<option *ngFor="let opt of activeSchema.options.effervescenceBubbleGrain" [value]="opt.value">{{ opt.label }}</option>
								</select>
							</div>

							<div class="col-12 col-md-6 col-xl-3" *ngIf="isEffervescentWine">
								<label for="numeroBollicine">Numero bollicine</label> <select
									class="form-control" formControlName="effervescenceBubbleNumber"
									id="numeroBollicine" name="numeroBollicine">
									<option *ngFor="let opt of activeSchema.options.effervescenceBubbleNumber" [value]="opt.value">{{ opt.label }}</option>
								</select>
							</div>

							<div class="col-12 col-md-6 col-xl-3" *ngIf="isEffervescentWine && activeSchema.showFields.hasEffervescenceSpeed">
								<label for="velocitaBollicine">Velocità bollicine</label> <select
									class="form-control" formControlName="effervescenceSpeed"
									id="velocitaBollicine" name="velocitaBollicine">
									<option *ngFor="let opt of activeSchema.options.effervescenceSpeed" [value]="opt.value">{{ opt.label }}</option>
								</select>
							</div>

							<div class="col-12 col-md-6 col-xl-3" *ngIf="isEffervescentWine">
								<label for="persistenza">Persistenza</label> <select
									class="form-control"
									formControlName="effervescenceBubblePersistence"
									id="effervescenceBubblePersistence" name="persistenza">
									<option *ngFor="let opt of activeSchema.options.effervescenceBubblePersistence" [value]="opt.value">{{ opt.label }}</option>
								</select>
							</div>
						</div>
					</ng-template>
				</div>
			</div>
		</div>
	</div>
	<div ngbAccordion>
		<div ngbAccordionItem [collapsed]="false">
			<h2 ngbAccordionHeader>
				<button ngbAccordionButton>Analisi olfattiva</button>
			</h2>
			<div ngbAccordionCollapse>
				<div ngbAccordionBody>
					<ng-template>
						<div class="row">
							<div class="col-12 col-md-6 col-xl-3">
								<label for="intensita">Intensità</label> <select
									class="form-control" formControlName="olfactoryIntensity"
									id="intensita" name="intensita">
									<option *ngFor="let opt of activeSchema.options.olfactoryIntensity" [value]="opt.value">{{ opt.label }}</option>
								</select>
							</div>

							<div class="col-12 col-md-6 col-xl-3">
								<label for="complessita">Complessità</label> <select
									class="form-control" formControlName="olfactoryComplexity"
									id="complessita" name="complessita" (change)="updateWinePoint($event)">
									<option *ngFor="let opt of activeSchema.options.olfactoryComplexity" [value]="opt.value">{{ opt.label }}</option>
								</select>
							</div>

							<div class="col-12 col-md-6 col-xl-3">
								<label for="olfactoryQuality">Qualità</label> <select class="form-control"
									formControlName="olfactoryQuality" id="olfactoryQuality" name="olfactoryQuality" (change)="updateWinePoint($event)">
									<option *ngFor="let opt of activeSchema.options.olfactoryQuality" [value]="opt.value">{{ opt.label }}</option>
								</select>
							</div>

							<div class="col-12 col-md-6 col-xl-3">
								<label for="sentoreDominante">Sentore olfattivo dominante</label> <select
									class="form-control" formControlName="olfactorySense"
									id="sentoreDominante" name="sentoreDominante">
									<option *ngFor="let opt of activeSchema.options.olfactorySense" [value]="opt.value">{{ opt.label }}</option>
								</select>
							</div>

							<div class="col-12 col-md-6 col-xl-3">
								<label for="descrizione">Descrizione</label>
								<textarea id="descrizione" name="descrizione" class="form-control"
									formControlName="olfactoryDescription" placeholder="Descrizione"></textarea>
							</div>
						</div>
					</ng-template>
				</div>
			</div>
		</div>
	</div>
	<div ngbAccordion>
		<div ngbAccordionItem [collapsed]="false">
			<h2 ngbAccordionHeader>
				<button ngbAccordionButton>Analisi gusto-olfattiva</button>
			</h2>
			<div ngbAccordionCollapse>
				<div ngbAccordionBody>
					<ng-template>
						<div class="row">
							<h3>Morbidezze</h3>

							<div class="col-12 col-md-6 col-xl-3">
								<label for="zuccheri">Zuccheri</label> <select class="form-control"
									formControlName="sugars" id="zuccheri" name="zuccheri">
									<option *ngFor="let opt of activeSchema.options.sweetness" [value]="opt.value">{{ opt.label }}</option>
								</select>
							</div>

							<div class="col-12 col-md-6 col-xl-3">
								<label for="alcoli">Alcoli</label> <select class="form-control"
									formControlName="alcohols" id="alcoli" name="alcoli" (change)="updateRadarChart($event)">
									<option *ngFor="let opt of activeSchema.options.alcohol" [value]="opt.value">{{ opt.label }}</option>
								</select>
							</div>

							<div class="col-12 col-md-6 col-xl-3">
								<label for="polialcoli">{{ activeSchema.labels.polyalcohols }}</label>
								<select
									class="form-control" formControlName="polyalcohols" id="polialcoli"
									name="polialcoli" (change)="updateRadarChart($event)">
									<option *ngFor="let opt of activeSchema.options.polyalcohols" [value]="opt.value">{{ opt.label }}</option>
								</select>
							</div>

							<h3>Durezze</h3>

							<div class="col-12 col-md-6 col-xl-3">
								<label for="acidi">Acidi</label> <select class="form-control"
									formControlName="acids" id="acidi" name="acidi" (change)="updateRadarChart($event)">
									<option *ngFor="let opt of activeSchema.options.acidity" [value]="opt.value">{{ opt.label }}</option>
								</select>
							</div>

							<div class="col-12 col-md-6 col-xl-3" *ngIf="isRedWine">
								<label for="tanninoQuantita">{{ activeSchema.labels.tannin }} <span *ngIf="activeSchema.showFields.hasTanninQuality">(Quantità)</span></label>
								<select
									class="form-control" formControlName="tanninsQuantity"
									id="tanninoQuantita" name="tanninoQuantita">
									<option *ngFor="let opt of activeSchema.options.tanninsQuantity" [value]="opt.value">{{ opt.label }}</option>
								</select>
							</div>

							<div class="col-12 col-md-6 col-xl-3" *ngIf="isRedWine && activeSchema.showFields.hasTanninQuality">
								<label for="tanninoQualita">Tannino (Qualità)</label> <select
									class="form-control" formControlName="tanninsQuality"
									id="tanninoQualita" name="tanninoQualita" (change)="updateRadarChart($event)">
									<option *ngFor="let opt of activeSchema.options.tanninsQuality" [value]="opt.value">{{ opt.label }}</option>
								</select>
							</div>

							<div class="col-12 col-md-6 col-xl-3">
								<label for="sostanzeMinerali">{{ activeSchema.labels.mineralSubstances }}</label> <select
									class="form-control" formControlName="mineralSubstances"
									id="sostanzeMinerali" name="sostanzeMinerali">
									<option *ngFor="let opt of activeSchema.options.mineralSubstances" [value]="opt.value">{{ opt.label }}</option>
								</select>
							</div>

							<div class="col-12 col-md-6 col-xl-3" *ngIf="isEffervescentWine && activeSchema.showFields.hasGustatoryEffervescence">
								<label for="effervescenzaGustativa">Effervescenza gustativa</label> <select
									class="form-control" formControlName="gustatoryEffervescence"
									id="effervescenzaGustativa" name="effervescenzaGustativa">
									<option *ngFor="let opt of activeSchema.options.gustatoryEffervescence" [value]="opt.value">{{ opt.label }}</option>
								</select>
							</div>

							<div class="col-12 col-md-6 col-xl-3">
								<label for="equilibrio">Equilibrio</label> <select
									class="form-control" formControlName="equilibrium" id="equilibrio"
									name="equilibrio" (change)="updateRadarChart($event); updateWinePoint($event)">
									<option *ngFor="let opt of activeSchema.options.balance" [value]="opt.value">{{ opt.label }}</option>
								</select>
							</div>

							<div class="col-12 col-md-6 col-xl-3">
								<label for="tasteIntensity">Intensità</label> <select
									class="form-control" formControlName="tasteIntensity" id="tasteIntensity"
									name="tasteIntensity" (change)="updateRadarChart($event); updateWinePoint($event)">
									<option *ngFor="let opt of activeSchema.options.tasteIntensity" [value]="opt.value">{{ opt.label }}</option>
								</select>
							</div>

							<div class="col-12 col-md-6 col-xl-3">
								<label for="tastePersistence">Persistenza</label> <select
									class="form-control" formControlName="tastePersistence"
									id="tastePersistence" name="tastePersistence" (change)="updateRadarChart($event); updateWinePoint($event)">
									<option *ngFor="let opt of activeSchema.options.tastePersistence" [value]="opt.value">{{ opt.label }}</option>
								</select>
							</div>

							<div class="col-12 col-md-6 col-xl-3">
								<label for="tasteQuality">Qualità</label> <select class="form-control"
									formControlName="tasteQuality" id="tasteQuality" name="tasteQuality" (change)="updateWinePoint($event); updateRadarChart($event)">
									<option *ngFor="let opt of activeSchema.options.tasteQuality" [value]="opt.value">{{ opt.label }}</option>
								</select>
							</div>

							<div class="col-12 col-md-6 col-xl-3">
								<label for="corpo">Corpo del vino</label> <select
									class="form-control" formControlName="bodyWine" id="corpo"
									name="corpo" (change)="updateRadarChart($event)">
									<option *ngFor="let opt of activeSchema.options.body" [value]="opt.value">{{ opt.label }}</option>
								</select>
							</div>
						</div>
					</ng-template>
				</div>
			</div>
		</div>
	</div>
	<div ngbAccordion>
		<div ngbAccordionItem [collapsed]="false">
			<h2 ngbAccordionHeader>
				<button ngbAccordionButton>Parte conclusiva</button>
			</h2>
			<div ngbAccordionCollapse>
				<div ngbAccordionBody>
					<ng-template>
						<div class="row">
							<div class="col-12 col-md-6 col-xl-3">
								<label for="statoEvolutivo">Stato evolutivo</label> <select
									class="form-control" formControlName="evolutionaryState"
									id="statoEvolutivo" name="statoEvolutivo">
									<option *ngFor="let opt of activeSchema.options.evolution" [value]="opt.value">{{ opt.label }}</option>
								</select>
							</div>

							<div class="col-12 col-md-6 col-xl-3">
								<label for="armonia">Armonia</label> <select class="form-control"
									formControlName="harmony" id="armonia" name="armonia">
									<option *ngFor="let opt of activeSchema.options.harmony" [value]="opt.value">{{ opt.label }}</option>
								</select>
							</div>

							<div class="col-12 col-md-6 col-xl-3">
								<label for="tipicita">{{ activeSchema.labels.finalQuality }}</label> <select class="form-control"
									formControlName="typicality" id="tipicita" name="tipicita" (change)="updateWinePoint($event)">
									<option *ngFor="let opt of activeSchema.options.finalQuality" [value]="opt.value">{{ opt.label }}</option>
								</select>
							</div>

							<div class="col-12 col-md-6 col-xl-3">
								<label for="abbinamenti">Abbinamenti</label>
								<textarea id="abbinamenti" name="abbinamenti" class="form-control"
									formControlName="foodPairings" placeholder="Abbinamenti"></textarea>
							</div>
							<app-radar-chart [radarChartData] = "radarChartData"></app-radar-chart>
						</div>
					</ng-template>
				</div>
			</div>
		</div>
	</div>
	<div ngbAccordion>
		<div ngbAccordionItem [collapsed]="false">
			<h2 ngbAccordionHeader>
				<button ngbAccordionButton>Descrizione libera</button>
			</h2>
			<div ngbAccordionCollapse>
				<div ngbAccordionBody>
					<ng-template>
						<div class="row">
							<div class="col-xl-12 col-xs-12">
								<textarea></textarea>
							</div>
						</div>
					</ng-template>
				</div>
			</div>
		</div>
	</div>

	<h2>Parte conclusiva</h2>

	<button type="submit" class="btn btn-warning" [disabled]="!tastingSheetForm.valid" >{{buttonLabel}}</button>

</form>
