<div class="container">
	<div class="row">
		<div class="col-md-7 mrgnbtm">
			<h2>Storico vini</h2>
		</div>
		<div class="col-md-4 mrgnbtm">
			<div class="btn">
				<button class="btn btn-warning" (click)="refresh()">Aggiorna</button>
			</div>

		</div>
	</div>
</div>
<div class="mrgnbtm">
	<div class="container">
		<div class="row">
			<div class="col-xl-3">
				<input type="search" [(ngModel)]="filterText" class="form-control" placeholder="Filter...">
			</div>
		</div>
		
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Id</th>
					<th>Nome</th>
					<th>Luogo</th>
					<th>Denominazione</th>
				</tr>
			</thead>
			<tbody>
				<tr
					*ngFor="let winery of wineries | winesFilter: filterText; let i = index ">
					<td style="width: 20%">{{winery.id}}</td>
					<td><a (click)="viewWineryDetails(winery)" style="cursor: pointer;">{{winery.name}}</a></td>
					<td>{{winery.country}} - {{winery.region}} - {{winery.city}} - {{winery.village}} - {{winery.district}}</td>
					<td>{{winery.denomination}}</td>
				</tr>
			</tbody>
		</table>
	</div>

</div>