<div class="login-container">
    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
        <h2>Registrati</h2>
  
      <div class="form-group">
        <label for="email">Email</label>
        <input id="email" type="email" formControlName="email" placeholder="Inserisci la tua email">
        <small *ngIf="registrationForm.get('email')?.invalid && registrationForm.get('email')?.touched">
          Inserisci un'email valida.
        </small>
      </div>
  
      <div class="form-group">
        <label for="password">Password</label>
        <div class="password-wrapper">
            <input id="password" [type]="showPassword ? 'text' : 'password'" formControlName="password" placeholder="Inserisci la password">
            <button type="button" class="eye-btn" (click)="togglePasswordVisibility()">
              <i class="fas" [ngClass]="showPassword ? 'fa fa-eye-slash' : 'fa fa-eye'"></i>
            </button>
          </div>    
        <small *ngIf="registrationForm.get('password')?.invalid && registrationForm.get('password')?.touched">
          La password è obbligatoria.
        </small>
      </div>

      <div class="form-group" *ngIf="loginError">
        <label class="form-check-label">Errore nella registrazione. Riprova!</label>
	</div>
  
        <button type="submit" [disabled]="loading || registrationForm.invalid">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Registrati
        </button>
      <a routerLink="../login" class="btn btn-link">Login</a>
    </form>
  </div>
  