<div class="container">
	<div class="row">
		<div class="col-md-4 mrgnbtm">
			<div class="btn">
				<button class="btn btn-warning" (click)="refresh()">Aggiorna</button>
			</div>

		</div>
	</div>
</div>
<app-loading-spinner 
  [isVisible]="isLoading"
  [svgPath]="'assets/images/loading-glass-2.svg'"
  loadingText="Caricamento..."
  [speed]="'normal'">
</app-loading-spinner>
<div class="mrgnbtm">
	<div class="container">
	  <div *ngIf="wineDetails">
		<h2>{{ wineDetails.name }} {{ wineDetails.denomination }}</h2>
		<div class="row">
		  <!-- Colonna per l'immagine -->
		  <div class="col-md-4">
			<img [src]="getImageWine(wineDetails)" class="img-fluid" style="max-width: 40%">
		  </div>
		  
		  <!-- Colonna per i dettagli -->
		  <div class="col-md-8">
			<p><strong>Azienda:</strong> {{ wineDetails.wineryName }}</p>
			<p><strong>Uvaggio:</strong> 
				<span *ngFor="let grape of wineDetails.grapes; let last = last">
					{{ grape.nameGrape }} ({{ grape.percentageGrape }}%)<span *ngIf="!last">, </span>
				  </span>
			</p>
			<p><strong>Suolo:</strong> {{ wineDetails.soil }}</p>
			<p><strong>Degustazione:</strong> {{ wineDetails.tastingDescription }}</p>
			<p><strong>Denominazione:</strong> {{ wineDetails.denomination }}</p>
			<p><strong>Zona di produzione:</strong> {{ wineDetails.productionZone }}</p>
			<p><strong>Affinamento:</strong> {{ wineDetails.refinement }}</p>
			<p><strong>Vinificazione:</strong> {{ wineDetails.winemaking }}</p>
		  </div>
		</div>
	  </div>
	  <div *ngIf="winesByWinery != null && winesByWinery.length > 0">
		<h3>Vini della stessa cantina</h3>
		<app-wine-slider [wines]="winesByWinery"></app-wine-slider>
	  </div>
	  
	  <div *ngIf="similarWines != null && similarWines.length > 0">
		<h3>Vini simili</h3>	
		<app-wine-slider [wines]="similarWines"></app-wine-slider>
	  </div>
	</div>
  </div>
  